.card {
  border-radius: 6px;
  border: none;
  box-shadow: 0 0 17px 0 rgba(177,177,177,0.5);
  margin-bottom: 0.5rem;
  .card-body {
    .card-body-title {
      color: #29363d;
    }
  }
}

.label{
  color: #73818E;
  text-transform: uppercase ;
}

.data-colored{
  color: #20a8d8; //$blue
}
