<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-10 col-xs-10">
            <div class="d-md-flex flex-row">
                <div class="py-md-3 px-4">
                    <h1 class="display-3 text-right text-secondary">{{displayCode}}</h1>
                </div>
                <div class="px-4 py-md-3 border-xs-none border-sm-none border border-top-0 border-right-0 border-bottom-0 border-secondary">
                    <h4 class="pt-3">{{title}}</h4>
                    <p class="text-muted">{{message}}</p>
                    <div>
                        <a [routerLink]="continue" [translate]="action" class="btn btn-primary rounded">
                        </a>
                    </div>
                </div>
            </div>
    </div>
    </div>
</div>



